src/main/java/com/norconex/committer/googlecloudsearch/GoogleCloudSearchCommitter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="/com/norconex/committer/core3/batch/AbstractBatchCommitter.xsd"></xs:include>
  <xs:element name="committer">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="AbstractBatchCommitter">
          <xs:all>
            <xs:element name="secretKeyPath" type="nonEmptyString"
              minOccurs="1" maxOccurs="1" />
            <xs:element name="dataSourceId" type="nonEmptyString"
              minOccurs="1" maxOccurs="1" />
            <xs:element name="uploadFormat" type="uploadFormatValue"
              minOccurs="0" maxOccurs="1" />
            <xs:element name="requestMode" type="requestModeValue"
              minOccurs="0" maxOccurs="1" />
            <xs:element name="apiEndpoint" type="nonEmptyString"
              minOccurs="0" maxOccurs="1" />
            <xs:element name="applicationName" type="nonEmptyString"
              minOccurs="0" maxOccurs="1" />
            <xs:element name="connectorName" type="nonEmptyString"
              minOccurs="0" maxOccurs="1" />
            <xs:element name="sourceIdField" type="nonEmptyString"
              minOccurs="0" maxOccurs="1" />
            <xs:element name="keepSourceIdField" type="xs:boolean"
              minOccurs="0" maxOccurs="1" />
            <xs:element name="metadata" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  Optional metadata mapping section for Google predefined
                  ItemMetadata fields.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="mapping" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation>
                        Maps an optional crawler metadata field to one Google
                        metadata field with optional default value.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:attribute name="fromField" type="nonEmptyString" use="optional" />
                      <xs:attribute name="toField" type="metadataFieldValue" use="required" />
                      <xs:attribute name="defaultValue" type="nonEmptyString" use="optional" />
                      <xs:attribute name="keepFromField" type="xs:boolean" use="optional" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="structuredData" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  Optional structured data mapping section, declaring the
                  Google Cloud Search value type to use for individual
                  metadata fields sent as structured data. Fields without a
                  matching mapping are always sent as text.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="mapping" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation>
                        Declares the Google Cloud Search value type for one
                        structured data field. The type must match what is
                        registered for that property in the connected data
                        source's schema.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:attribute name="field" type="nonEmptyString" use="required" />
                      <xs:attribute name="type" type="structuredDataTypeValue" use="optional" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="acl" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  Optional ACL mapping section. Use one or more mapping elements
                  to convert metadata fields into Google Cloud Search principals,
                  and optionally use inherit to set ACL inheritance from a
                  parent item reference.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="mapping" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation>
                        Maps a metadata field to one Google ACL target using the
                        chosen principal type.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:attribute name="fromField" type="nonEmptyString" use="required" />
                      <xs:attribute name="target" type="aclTargetValue" use="required" />
                      <xs:attribute name="principalType" type="principalTypeValue" use="required" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="inherit" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation>
                        Declares which metadata field contains the parent item
                        ID to use for Google ACL inheritance.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:attribute name="fromField" type="nonEmptyString" use="required" />
                      <xs:attribute name="aclInheritanceType" type="aclInheritanceValue" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="uploadFormatValue">
    <xs:restriction base="xs:string">
      <xs:pattern value="[Tt][Ee][Xx][Tt]" />
      <xs:pattern value="[Rr][Aa][Ww]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="requestModeValue">
    <xs:restriction base="xs:string">
      <xs:pattern value="[Ss][Yy][Nn][Cc][Hh][Rr][Oo][Nn][Oo][Uu][Ss]" />
      <xs:pattern value="[Aa][Ss][Yy][Nn][Cc][Hh][Rr][Oo][Nn][Oo][Uu][Ss]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="aclTargetValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="readers" />
      <xs:enumeration value="deniedReaders" />
      <xs:enumeration value="owners" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="principalTypeValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="user" />
      <xs:enumeration value="group" />
      <xs:enumeration value="customer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="aclInheritanceValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOT_APPLICABLE" />
      <xs:enumeration value="CHILD_OVERRIDE" />
      <xs:enumeration value="PARENT_OVERRIDE" />
      <xs:enumeration value="BOTH_PERMIT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="metadataFieldValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="title" />
      <xs:enumeration value="objectType" />
      <xs:enumeration value="mimeType" />
      <xs:enumeration value="updateTime" />
      <xs:enumeration value="createTime" />
      <xs:enumeration value="containerName" />
      <xs:enumeration value="contentLanguage" />
      <xs:enumeration value="sourceRepositoryUrl" />
      <xs:enumeration value="hash" />
      <xs:enumeration value="keywords" />
      <xs:enumeration value="searchQualityMetadata" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="structuredDataTypeValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="text" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="double" />
      <xs:enumeration value="date" />
      <xs:enumeration value="timestamp" />
      <xs:enumeration value="boolean" />
      <xs:enumeration value="enum" />
      <xs:enumeration value="html" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>